# 環境変数
python-dotenv

# バージョンはCMLにあわせること！
virl2-client==2.9

# Jinja2テンプレートエンジン コンフィグ生成に利用
jinja2

# YAMLファイルを読み書きするためのライブラリ ノード定義ファイル等、YAML形式を扱うために利用
pyyaml

# tabulate ラボ一覧表示に利用
tabulate

# SSHクライアント
paramiko

# NETCONFクライアント
scrapli
scrapli_netconf

# pyATS フルインストール、virl2_clientからpyATSを使うために必要
# バージョン一覧
# https://pypi.org/project/pyats/#history
pyats[full]==25.11

# MCP Python SDK
# 便利だけど、現状ではFastMCPしか使わないのでコメントアウト
# mcp

# FastMCP Library
fastmcp