! FRR Config generated on 2025-01-22 17:55
! just an example -- You need to need to change it
!
hostname frr-0
!
interface lo
    ip address 10.0.0.1/32
    ip ospf passive
!
interface eth0
    description to eth0.frr-1
    ip address 172.16.128.2/30
    no shutdown
interface eth1
    description to eth0.frr-2
    ip address 172.16.128.9/30
    no shutdown
interface eth2
    description not connected
    !no ip address
    shutdown
interface eth3
    description not connected
    !no ip address
    shutdown
!
router ospf
    ospf router-id 10.0.0.1
    network 10.0.0.1/32 area 10
    network 172.16.128.0/30 area 10
    network 172.16.128.8/30 area 10
!
end
